.footer-association-container {
  background-color: #f8f9fa;
  hr {
    max-width: 252px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.home {
  .footer-association-container {
    background-color: white;
  }
}

.footer-association-badges {
  li {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.footer-bar {
  color: $footer-text;
  background-color: $primary;
  padding-top: 2rem;
  padding-bottom: 1rem;

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  .social-media-list {
    margin-left: 0;
    padding-left: 0;

    li {
      margin-left: .55rem;
      margin-right: .55rem;
      @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-right: .75rem;
      }
      @include media-breakpoint-up(lg) {
        margin-right: .5rem;
      }
    }
  }

  a {
    color: $footer-text;
  }
}