.gravity-forms-disabled-styles {
    ul {
        list-style: none;
        padding: 0;

        li {
            @extend .form-group;
        }
    }

    .gfield_required {
        color: $red;
        margin-left: .2rem;
    }

    .gform_validation_container {
        display: none;
    }

    .gform_footer {
        margin: 1.5rem 0 2.5rem 0;
    }

    .textarea.small {
        height: 100px;
    }

    label {
       font-size: 12px;
    }

    .gform_ajax_spinner {
        position: absolute;
        margin-left: 1rem;
    }

    .validation_error {
        @extend .alert;
        @extend .alert-danger;
    }

    .gfield_error {
        .validation_message {
            color: $red;
            font-size: 90%;
            margin-top: .25rem;
        }
    }
}

.gform_confirmation_wrapper {
    margin: 2rem 0;
    @extend .alert;
    @extend .alert-success;
}

#gform_wrapper_1,
#gform_wrapper_3{
    margin-top: 2rem;
    @extend .gravity-forms-disabled-styles;

    label {
        font-weight: normal;
    }

    .ginput_container {
        margin: 0;
    }

    .ginput_container input,
    .ginput_container textarea {
        @extend .form-control;
    }

    .gform_button {
        @extend .btn;
        @extend .btn-success;
    }

    .gform_footer {
        @extend .text-center;
    }

    .gform_ajax_spinner {
        position: absolute;
    }
}

.btn-success, #gform_wrapper_1 .gform_button, #gform_wrapper_3 .gform_button  {
    background-color: $gfrom-btn;
    &:hover {
        background-color: darken($gfrom-btn,5%);
    }
    &:active {
        background-color: darken($gfrom-btn,10%) !important;
    }
}
#gform_wrapper_1 .gform_footer,
#gform_wrapper_3 .gform_footer {
    text-align: left !important;
}
.resume-upload {
 .ginput_container_fileupload {
     font-size: 80%;
 }
}

/*
.resume-upload label {
    margin-top: .5rem;
    background: #f8f8f8;
    font-weight: 600;
    padding: 9px 22.5px;
    border-radius: 4.5px;
    border: 1px solid #dfdfdf;
}

.resume-upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.resume-upload .gfield_required {
    color: #848484 !important;
}
*/

input[type=file]::-webkit-file-upload-button {
    font-size: .9rem;
}

$background-color: #292931;
$button-color: lighten(#5d6f81,20%);
$button-width: 10em;

.medium {
    font-size: .8333rem !important;
    color: #848484 !important;
    font-weight: 600 !important;
    text-indent: -4px;
}

label[for="file-input"]{
    display: block;
    margin-bottom: 1em;
    font-size: 1rem;
    color: #fff;
    opacity: .9;
    font-weight: bold;
}

input[type="file"] {
    cursor: pointer !important;

    &::-webkit-file-upload-button {
        background: $button-color;
        border: 0;
        padding: .5rem 1rem;
        cursor: pointer;
        color: #fff;
        border-radius: .2em;
        margin-right: .5rem;
    }

    &::-ms-browse {
        background: $button-color;
        border: 0;
        padding: .5rem 1rem;
        cursor: pointer;
        color: #fff;
        border-radius: .2em;
        margin-right: .5rem;
    }

}

// overrides

.ginput_container {
    padding-top: 10px;
}
.form-control,
.ginput_container input,
.ginput_container textarea,
.ginput_container input,
.ginput_container textarea {
    font-size: 12px;
    border-radius: 0;
    border: none;
}
.btn-success,
.gform_button {
    background-color: #666600;
    &:hover,
    &:active {
        background-color: darken(#666600, 3%);
    }
}