.navbar-main-logo {
  width: 295.679px;
  height: 92.365px;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 700;
}

.nav-logo {
  @include media-breakpoint-down(lg) {
    width: 200px;
  }
}

.active {
  @include media-breakpoint-down(lg) {
    .nav-link {
      font-weight: 900;
    }
  }
  @include media-breakpoint-up(lg) {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .nav-link {
    @include media-breakpoint-up(lg) {
      border-bottom: 2px solid $btnblue;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

}

#main-menu {
  @include media-breakpoint-down(md) {
    margin-top: 1rem;
  }

  li:last-of-type {
    @include media-breakpoint-up(lg) {
      &.active {
        margin-left: 0;
        margin-right: 0;

        a.nav-link {
          background-color: darken($btnblue, 10%);
          border: 1px solid darken($btnblue, 15%);
        }
      }
    }

    a.nav-link {
      @include media-breakpoint-up(lg) {
        background-color: $btnblue;
        border: 1px solid $btnblue;
        color: white;
        text-transform: none;
        border-radius: 6px;
        padding-left: 18px !important;
        padding-right: 18px !important;
        margin-left: 10px;
      }

      &:hover {
        @include media-breakpoint-up(lg) {
          background-color: darken($btnblue, 5%);
          border: 1px solid darken($btnblue, 5%);
        }
      }
    }
  }
}
