#landing-page {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        color: $primary-landing;
    }
    .btn-primary {
        background-color: $primary-landing;
    }

    .col-text-2 {
        @include media-breakpoint-down(lg) {
            columns: 1;
        }
    }

    .btn-success, #gform_wrapper_1 .gform_button {
        background-color: #28a645;
    }

    #gform_wrapper_1 .gform_footer{
        text-align: center !important;
    }

    background: $white url(../images/bg-top.jpg) no-repeat center top;
    background-size: 100%;
    overflow: hidden;

    .container {
        padding: 0 2rem;

        @include media-breakpoint-down(xxs) {
            max-width: none;
        }
    }

    #header {
        padding-top: 3rem;

        h1 img {
            max-width: 375px;
        }
    }

    .section {
        margin: 4rem 0;
    }

    .spaced-content {
        padding: 2rem 7rem;

        @include media-breakpoint-down(xl) {
            padding: 2rem 3rem;
        }

        @include media-breakpoint-down(lg) {
            padding: 0;
        }
    }

    .get-started-form__wrap {

        &:before {
            content: '';
            background: rgba($primary, .2);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 25%;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
        }

        @include media-breakpoint-down(lg) {
            &:before {
                left: -3rem;
                right: -3rem;
            }
        }
    }

    .get-started-form {
        z-index: 20;
        position: relative;
        background: $white;
        box-shadow: $box-shadow-lg;
        margin: 3rem 2rem 0 2rem;

        .get-started-form__inner {
            padding: 3rem 3rem 0 3rem;
            border-top: .35rem solid $primary;
        }

        .get-started-form__footer {
            padding: 1rem 3rem;
            font-size: 90%;
            background: $primary-light;
            color: rgba($white, .7);
        }

        @include media-breakpoint-down(md) {
            margin-right: 0;
            margin-left: 0;

            .get-started-form__inner {
                padding: 2rem 2rem 0 2rem;
            }

            .get-started-form__footer {
                padding: 1rem 2rem;
            }
        }
    }

    .featured-testimonial {
        position: relative;

        blockquote {
            text-align: left;
            position: absolute;
            bottom: 2rem;
            right: -4rem;
            background: $white;
            box-shadow: $box-shadow-lg;
            border: none;
            width: 50%;
            margin: 0;
        }
    }

    .blockquote--alt {
        border: none;
        font-size: 125%;
        position: relative;

        .blockquote-footer {
            margin-top: 2rem;
            font-size: 100%;
        }

        .fas {
            position: absolute;
            top: -1rem;
            left: -1rem;
            color: rgba($primary, .075);
            font-size: 700%;
        }

        @include media-breakpoint-down(md) {
            padding: 1rem;
        }
    }

    .bottom-section {
        border-top: .1rem solid $gray-200;
        background: $white;
        margin-top: -2rem;
        margin-bottom: 2rem;
        padding: 2rem 0;

        img {
            padding-right: 2rem;
        }

        .bottom-logo {
            height: 95px;
            padding-right: 0;
        }

        @include media-breakpoint-down(md) {
            img, .bottom-logo {
                padding: 1rem;
                max-width: 100%;
            }
        }
    }

    #footer {
        background: $gray-200;
        padding: 1.5rem 0;
        margin-top: 6rem;
        font-size: 80%;

        a {
            color: inherit;
        }

        @include media-breakpoint-down(md) {
            margin-top: 3rem;
        }
    }
    ul.footerSocialmediaLinks {
        list-style-type: none;
        padding: 0;
        li a {
            padding: 0 .5rem;
        }
    }
}