.spr-page {
  h2 {
    background-color: rgb(102, 102, 0);
    padding-left: 10px;
    font-size: 18px;
    line-height: 1.4em;
    letter-spacing: 0em;
    margin-bottom: 20px;
    font-family: Arial;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-top: 0;
  }

  .custom2 {
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 2px;
  }

  .preamble {
    margin-bottom: 0;
  }

  h4 {
    padding-left: 10px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 8px;
  }

  ul {
    margin-bottom: 34px;
  }

  p {
    padding-left: 10px;
    margin-bottom: 24px;
    margin-top: 0;
    line-height: 18px;
  }

  li {
    margin-bottom: 5px;
  }

  .spr-image {
    border: 10px solid #666600;
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  .spottext {
    line-height: 1.5;
  }

  .a-tdn {
    a {
      text-decoration: none;
    }
  }

  .inline-icon {
    max-width: 10%;
    float: left;
    margin-right: 8px;
    margin-bottom: 100px;
    max-width: 30px;
  }

  .spr-testimonial-img {
    border: 10px solid #666600;
  }

  .spr-btn-mb {
    margin-bottom: 34px;
  }

  .spr-inpage-nav {
    li {
      a:hover,
      a.active {
        background-color: #cccc00 !important;
      }
    }
  }
  .spr-testimonial-txt {
    a {
      text-decoration: none;
    }
    p {
      font-size: 14px;
      line-height: 1.4em;
    }
  }
  .spr-testimonial-txt-aside {
    a {
      text-decoration: none;
    }
    p {
      font-size: 14px;
      line-height: 1.4em;
      @media (min-width: 768px) {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

// ----- Owl-carousel -----

.owl-carousel {
  margin-bottom: 10px;
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.owl-theme .owl-nav {
  position: absolute;
  top: 35%;
  top: calc(50% - 25px);
  color: white;
  font-size: 60px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;

  button {
    min-width: auto;
    outline: none;
  }
}

.owl-carousel .owl-nav button.owl-prev {
  width: 50px;
  height: 50px;
  background: transparent url('../images/arrows.png') no-repeat center left;
  background-size: 100px;

  &:hover {
    background-color: transparent;
  }
}

.owl-carousel .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  background: transparent url('../images/arrows.png') no-repeat center right;
  background-size: 100px;

  &:hover {
    background-color: transparent;
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;

  button {
    margin-bottom: 0;
    margin-top: 1rem;
    outline: none;
    min-width: auto;
    min-width: auto;
    width: auto;
  }
}

.owl-carousel button.owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}

button.owl-dot.active {
  background-color: white;
}

// Google Map

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

// Nav hacks
.spr-active-tab {
  background-color: #666600 !important;
  color: white !important;
}

$brand-green: #6abf4b;
$brand-drk-green: #40683c;
$brand-blue: #009ade;
$brand-drk-blue: #003057;
$brand-grey: #bcbec0;

// brand-updates
.navbar-main-logo {
  max-width: 310px;
  margin-bottom: 18px;
  padding: 0 20px;
  @media (min-width: 768px) {
    margin-bottom: 28px;
    padding: 0;
  }
}
.spr-page h2 {
  background-color: $brand-green;
  color: $brand-drk-blue;
}
.button {
  background-color: $brand-green;
}
#main-menu .active .nav-link {
  background-color: $brand-green;
}
#main-menu .nav-link:hover {
  background-color: $brand-green;
}
#main-menu .nav-link {
  color: $brand-drk-blue;
  border-color: #EDE4E4;
}
#c7000 #m3295 > li > a {
  background-color: darken($brand-blue, 10%);
}
.spr-page .spr-inpage-nav li a:hover,
.spr-page .spr-inpage-nav li a.active {
  background-color: $brand-blue !important;
}
.spr-active-tab {
  background-color: $brand-green !important;
}
.spr-page .spr-testimonial-img,
.spr-page .spr-image {
  border-color: white;
}
body {
  min-width: 320px;
}
body p {
  line-height: 2 !important;
}
body a {
  color: $brand-green;
}
.custom1 {
  line-height: 1.2em !important;
}
#m4655 {
  margin-top: 100px;
}
#p7000 #r7000 {
  background-color: #efefef;
}
#p7000 #r7000> .container {
  background-color: $brand-drk-blue;
}
#r1923 {
  border: none;
}
.custom1 a {
  color: $brand-drk-blue;
  font-weight: bold;
}
.brandfooter {
  border-color: white;
  background-color: white;
  color: $brand-drk-blue;
}